.Contacto {
  color: $c-orange;
  font-size: 3em;
  margin-left: 10%;

  padding-top: 9vh;
}
.ContactoForm {
  margin-bottom: 30px;
  display: flex;
  .Formulario {
    width: 40%;
    margin-left: 8%;
    padding: 3vh;

    @media only screen and (max-width: 900px) {
      width: 80%;
    }
    .inputForm {
      display: flex;
      flex-direction: row;
      label {
        color: white;
        font-weight: bold;
      }
      #name1,
      #mail1,
      #interesadoEn,
      #txt1 {
        margin: 1vh !important;
        background-color: rgba(236, 234, 234, 0.856);
        width: 80%;
      }
    }
    .texto {
      color: white;
      font-weight: bold;
    }
    #txt1 {
      margin: 1vh !important;
      height: 150px;
      width: 80%;
      background-color: rgba(236, 234, 234, 0.856);
    }
    .divBoton {
      #botonEnviar {
        margin: 1vh !important;
        background-color: $c-orange;
        height: 70px;
        color: white;

        &:hover {
          background-color: #d16d59;
          transform: scale(0.98);
        }
      }
    }
  }
}
