.list-conteiner {
  width: auto;
  height: 100px;
  ul {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    li {
      padding: 0 5px;
      a {
        font-weight: 500;
        padding: 0;
      }
      &:hover {
        border-top: 2px solid $c-orange;
        border-bottom: 2px solid $c-orange;
      }
    }
  }
}

.navbar-brand {
  @media only screen and (max-width: 900px) {
    width: 5px;
  }
}
