.qs-container {
  margin-top: 50px;
  @media only screen and (max-width: 900px) {
    display: none;
  }
  .column-1 {
    img {
      margin-bottom: 20px;
    }
  }
  .column-2 {
    padding-top: 50px;
    img {
      margin-bottom: 20px;
    }
  }
  .column-text {
    h1 {
      color: $c-orange;
      text-align: start;
    }
    p {
      font-size: 18px;
      margin-top: 15px;
      text-align:start !important;
      @media only screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}
